@import '../Theme';

$appbar_bg: $primary !default;
$appbar_fg: $on_primary !default;
$appbar_font: $font !default;

.solid_appbar {
	height: 64px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	width: 100%;
	font-family: $appbar-font;
}

.solid_appbar._fixed {
	height: 80px;
	position: sticky;
	top: -16px;
	margin-bottom: -16px;
}

.solid_appbar._fixed:before,
.solid_appbar._fixed:after {
	content: '';
	display: block;
}

.solid_appbar._prominent {
	height: 128px;
}

.solid_appbar._fixed._prominent {
	height: 144px;
}

.solid_appbar._fixed._prominent._shrink {
	height: 128px;
	top: -64px;
	margin-bottom: 0px;
}

.solid_appbar._dense {

}

.solid_appbar._fixed:before {
	height: 64px;
	position: sticky;
	top: 0px;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.solid_appbar._fixed._prominent:before {
	height: 128px;
}

.solid_appbar._fixed._prominent._shrink::before {
	height: 64px;
}

.solid_appbar._elevated::before {
	box-shadow: none;
}

.solid_appbar >div {
	display: flex;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 64px;
	margin-top: -64px;
	background-color: $appbar_bg;
	color: $appbar_fg;
	z-index: 1;
}

.solid_appbar._elevated >div {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.solid_appbar._prominent >div {
	height: 128px;	
	margin-top: -128px;
}

.solid_appbar._fixed >div {
	position: sticky;
	top: 0px;
}

.solid_appbar._fixed::after {
	height: 16px;
	position: sticky;
	top: 0px;
	background: linear-gradient(rgba($page_bg,1), rgba($page_bg,0));
}

.solid_appbar._elevated::after {
	background: transparent;
}

.solid_appbar >div >section {
	height: 64px;
	position: sticky;
	top: 64px;
	display: inline-flex;
	flex: 1 1 auto;
	align-items: center;
	min-width: 0;
	padding: 8px 12px;
}

.solid_appbar ._start {
	justify-content: flex-start;
	order: -1;
}

.solid_appbar ._end {
	justify-content: flex-end;
	order: 1;
}

.solid_appbar ._start._reserve {

}

.solid_appbar ._end._reserve {

}

.solid_appbar ._title {
	font-family: Roboto, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 1.25rem;
	line-height: 2rem;
	font-weight: 500;
	letter-spacing: 0.0125em;
	text-decoration: inherit;
	text-transform: inherit;
	padding-left: 20px;
	padding-right: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	z-index: 1;
}

.solid_appbar._prominent ._title {
	align-self: flex-end;
	padding-bottom: 2px;
}

.solid_appbar._fixed._prominent._shrink ._title {
	align-self: center;
	padding-bottom: 0;
}

.solid_appbar ._icon {
	align-self: flex-start;
	will-change: transform, opacity;
	display: flex;
	position: relative;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 48px;
	height: 48px;
	padding: 12px;
	border: none;
	outline: none;
	background-color: transparent;
	fill: currentColor;
	color: inherit;
	text-decoration: none;
}

.solid_appbar ._action {
	cursor: pointer;	
}
